
.desafio1 {
    color: orange; 
    font-size: 16px;
    font-family: 'Mooli', sans-serif;
}


#lista1 {
    background-color: rgba(255, 0, 0, 0.2);
    border: 1px solid black; 
    padding: 3%; 
    list-style-type: square; 
    color: #0000FF; 
    font-family: 'Mooli', sans-serif;
}


#lista2 {
    background-color: rgba(0, 128, 0, 0.2); 
    border: 1px solid black; 
    padding:  3%; 
    list-style-type: circle; 
    color: #0000FF;
    font-family: 'Mooli', sans-serif;
}
