body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.caixa {
    width: 100px;
    height: 100px;
    margin: 10px;
    transition: transform 0.3s, background-color 0.3s;
}

/* Exemplo 1 */
.caixa1 {
    background-color: red;
    animation-name: aparecer1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes aparecer1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Exemplo 2 */
.caixa2 {
    background-color: green;
    animation-name: um_efeito2;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: 5s;
}

@keyframes um_efeito2 {
    0% { width: 100px; }
    25% { width: 300px; }
    50% { width: 200px; background-color: red; }
    75% { width: 300px; }
    100% { width: 100px; background-color: green; }
}

/* Exemplo 3 */
.caixa3 {
    background-color: yellow;
    animation: example3 5s linear 2s infinite alternate;
}

@keyframes example3 {
    0% { transform: translateX(0); }
    100% { transform: translateX(200px); }
}
